@media (max-width: 600px) {
  .EventSign {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .cio-home {
    height: 25vh;
  }
  .second-home {
    height: 25vh;
  }
  .nav-links {
    font-size: 12px;
  }
  .nav-item {
    padding: 15px 10px;
  }
  .first-content h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
  }
  .content-no {
    padding: 10px 15px;
  }
  .no {
    width: 30px;
    height: 30px;
  }
  .dnon {
    display: none;
  }
  .EventSignificance {
    margin-top: 40px;
  }
  .EventSignificance-2 p{
    font-size: 16px;
  }
  .Heading {
    font-size: 26px;
  }
  .icons {
    gap: 10px;
  }
  .icons li {
    width: 30px;
    height: 30px;
  }
  .icon {
    font-size: 16px;
  }
}
