@media (max-width: 600px) {
  .EventSign {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .cio-home {
    height: 25vh;
  }
  .second-home {
    height: 25vh;
  }
  .nav-links {
    font-size: 12px;
  }
  .nav-item {
    padding: 15px 10px;
  }
  .first-content h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
  }
  .content-no {
    padding: 10px 15px;
  }
  .no {
    width: 30px;
    height: 30px;
  }
  .dnon {
    display: none;
  }
  .EventSignificance {
    margin-top: 40px;
  }
  .EventSignificance-2 p{
    font-size: 16px;
  }
  .Heading {
    font-size: 26px;
  }
  .icons {
    gap: 10px;
  }
  .icons li {
    width: 30px;
    height: 30px;
  }
  .icon {
    font-size: 16px;
  }
  .container{
    width: 96%;
  }
  .nav-border::before {
    content: '';
    position: absolute;
    right: -13px;
    top: 1px;
    width: 3px;
    height: 16px;
    background: #000;
}
.event-img img {
  max-height: 705px;
  padding: 0 clamp(0rem,0vw,3rem);
  margin-top: 20px;
}
}
